<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\css\inicio.css">

        <title>Main page</title>
    </head>
    <body>
        <div class="cuerpo">
            <div class="container">
                <div class="title">User Login</div>
                <div class="links">
                    <div class="login"><a href="/login">LOGIN</a></div>
                    <div class="register"><a href="/sign-up">REGISTER</a></div>
                </div>
            </div>
    </body>
</html>